

/* 
GENERAL 
---------------------------------------------------------------------------------------------------- */

body {
	font-size: 16px;
	background-color: #f0f0f0;
	color: #202020;
}

.container {
	background-color: white;
	border-right: 1px solid #C0C0C0;
	border-left: 1px solid #C0C0C0;
}


/* RESPONSIVE / MOBILE-FIRST 
--------------------------------------------- */

/* FIXED HEADER 
--------------------------------------------- */
#logos {
	display: inline-block;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 102;
}

#logos #ifac {
	padding-top: .75em;
	padding-left: 1em;
	text-align: center;
}

#logos #aacc {
	display: inline;
	padding-top: .4em;
	padding-right: 1em;
	padding-left: 6em;
	text-align: center;
}

#logos #site-title {
	text-align: center;
	margin-top: 10px;
}

#logos #site-title h2, 
#logos #site-title h5 {
	margin: 0;
	padding: 0;
	color: #848484;
	display: none;
}

.main-nav {
	display: inline-block;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 100;
	background-color: white;
	padding-top: 5em;
	-webkit-box-shadow: 0 1px 10px 1px #848484;
	box-shadow: 0 1px 10px 1px #848484;
}

.main-nav ul {
	text-align: center;
	z-index: 101;
	padding-top: .35em;
}

.main-nav li {
	list-style: none;
	display: inline;
	padding: 1em .75em;
	font-size: 14px;
	text-transform: uppercase;
}

.main-nav li a {
	color: #1F4395;
	font-weight: normal;
}

/* MAIN CONTENT SECTION
--------------------------------------------- */
#main-content {
	margin: 0;
	margin-top: 7em;
}

.conf-banner {
	height: 540; 
	background-image: url("http://www.montereyrentals.com/img/monterey-oceanfront-rentals.jpg");
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 20px;
}

.conf-banner h1 {
	padding-top: 30px;
}

.conf-banner h1,
.conf-banner h2,
.conf-banner h4 {
	z-index: 100;
	color: red;
	margin-top: 0;
	margin-left: 70px;
	color: white;
}

#action-steps {
	margin-top: 20px;
}

#action-steps .action-buttons {
	padding: 10px;
}

#action-steps p {
	padding: 10px 50px;
}

/*h2, .h2 {
	margin-top: 0;
	padding-left: 10px;
}*/

#first.row, #second.row, 
#third.row, #fourth.row, 
#fifth.row, #sixth.row,
#seventh.row, #eigth.row,
#ninth.row, #tenth.row {
	margin: 2em 0;
}

.row .action-buttons {
	text-align: center;
}

.row h1, .row h2, .row h3 {
	margin-top: 0;
	padding-top: 0;
	padding-left: 10px;
}

.row p {
	padding: 0 10px 10px 10px;
	margin: 0;
}

/* {
	float: left;
	clear: right;
	padding: 0 1em 2em 1em;
}*/

img.odd, img.even {
	float: right;
	clear: left;
	padding: 30px 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

